.dashboard {
    display: flex;
    width: 100vw;
    height: 100vh;
    background-color: #EAF4F2;
    position: relative;
}

.greeting {
    font-size: 18px;
    font-weight: bold;
    color: #066341;
    text-align: center;
    width: 100%; 
}
.sidebar {
    width: 250px;
    background-color: #edf5f3;
    color: black;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all 0.3s ease;
    position: relative;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2); 
    border-right: 2px solid #b8ccc9; /* more depth */
}
.sidebar.collapsed {
    width: 0;
    padding: 0;
    overflow: hidden;
    border-right: none; /* Remove border when closing collapsed */
}
.sidebar h2 {
    font-size: 22px;
    margin-bottom: 10px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar ul li {
    padding: 12px;
    border: 2px solid #066341;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    font-weight: bold;
    transition: all 0.3s ease;
    margin-bottom: 10px;

}
.sidebar ul li:hover,
.sidebar ul li.active {
    background-color: #066341;
    color: white;
    transform: scale(1.05); /* increase  on hover */
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.15);

}

.main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.dashboard-header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    text-align: center;

    font-size: 20px; 
    font-weight: bold;


}


/* .welcome-section {
    display: flex;
    align-items: center;
    gap: 15px; 
}
.tabs {
    display: flex;
    gap: 12px;
} */

/* journal - Progress  - resources)
 */
/* .tab-button {
    padding: 10px 15px;
    border: 2px solid #066341;
    background: transparent;
    color: #066341;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.3s ease;
    min-width: 120px;
    height: 40px;


}
.tab-button.active {
    background-color: #066341; 
    color: white;

} */

.dashboard-content {
    flex: 1;
    background: white;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-top: 20px;
}

/* blue border for buttons */
/* .outline-button {
    padding: 12px 18px;
    border: 2px solid #007bff;
    background: transparent;
    color: #007bff;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.3s ease;
}

.outline-button:hover {
    background-color: #007bff;
    color: white;
} */
.logout-container {
    margin-top: auto;
    display: flex;
    justify-content: center; 
    align-items: center;
    width: 100%;
}
.custom-google-btn {
    background: #066341; 
    color: white;
    padding: 12px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    width: 90%;
    max-width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px auto;
    text-align: center
}


.custom-google-btn:hover {
    background-color: #04442d; 
    transform: scale(1.05); 

}

.sp-logo {
    width: 210px;  
    height: auto; 
    display: block; 
    margin: 0 auto 20px auto;
}
.sidebar-toggle {
    position: absolute;
    left: 250px; 
    top: 50%;
    transform: translateY(-50%);
    background-color: #066341;
    color: white;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    z-index: 10;
}

.sidebar-toggle.collapsed {
    left: 0; /* move arrow to the leftwhen closes */
}
.sidebar-toggle:hover {
    background-color: #04442d;
    transform: translateY(-50%) scale(1.1);
}

