.dashboard {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-color: #EAF4F2;
    position: relative;
}

.greeting {
    font-size: 18px;
    font-weight: bold;
    color: #066341;
    
}
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    padding: 15px 30px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
    gap: 30px; 
}
.navbar-left {
    display: flex;
    align-items: center;
    gap: 30px; /* Space between logo and nav tabs */
}
.nav-links {
    list-style: none;
    display: flex;
    gap: 25px;
    margin: 0;
    padding: 0;


}

.nav-links li {
    padding: 10px 15px;
    cursor: pointer;
    font-weight: bold;
    transition: all 0.3s ease;
    border-radius: 5px;
}

.nav-links li:hover,
.nav-links .active {
    background-color: #066341;
    color: white;
}
.logout-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logout-container button {
    background: #066341; 
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    transition: all 0.3s ease;
}

.logout-container button:hover {
    background-color: #04442d; 
    transform: scale(1.1);
}
.main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.dashboard-header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    text-align: center;
    font-size: 20px; 
    font-weight: bold;

}
.dashboard-content {
    flex: 1;
    background: white;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-top: 20px;
}


.custom-google-btn {
    background: transparent; 
    color: #066341; 
    padding: 8px 14px; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer;
    font-size: 15px; 
    font-weight: bold;
    transition: all 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-width: auto; 
}

/* scale */
.custom-google-btn:hover {
    background: transparent;
    color: #04442d;
    transform: scale(1.05);
}

/* when active */
.custom-google-btn:active,
.custom-google-btn.active {
    background: #066341;
    color: white;
}

.sp-logo {
    width: 210px;  
    height: auto; 
}